<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h2 class="header">About Us</h2>
      <p >It is not just about doing bussiness. It more about happy customers and good vibrations.
      </p>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey darken-1 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img src="/images/team.jpg" style="width:100%;">
    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <h2 class="center header">Our Team</h2>
      <p class="center">We are small number of IT professionals with 20+ years of experience each. Trust and hardwork creates a joyful working environment. And we love what we do!
      </p>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey white-text darken-4">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h2 class="center header white-text">Our Core Values</h2>
    </div>
  </div>
  <div class="row container">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><img src="/images/about1.svg" style="width:40%;"></h2>
        <h5 class="center">Transparent</h5>

        <p class="center light white-text">We believe open, accessible information is the best way to help others. We will represent ourselves and our intentions honestly to our coworkers and to our customers, sharing as much of the truth as we can without sacrificing our other values.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><img src="/images/about2.svg" style="width:40%;"></h2>
        <h5 class="center">Authentic</h5>

        <p class="center light white-text">We believe in being the same people we are online and offline, in the office and outside of it. We deeply respect and strongly encourage free expression about our differences in opinion and diversity of backgrounds in an environment that nurtures and supports us all.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><img src="/images/about3.svg" style="width:40%;"></h2>
        <h5 class="center">Generous</h5>

        <p class="center light white-text">We will over-deliver when we can, providing our community and our customers with more than their money’s worth. We believe in giving back without asking for anything in return and that providing value and help to others is its own reward.</p>
      </div>
    </div>
  </div>
</div>
