<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <br/>
      <br/>
      <h2 class="header">About Us</h2>
      <p >It is not just about doing bussiness. It more about happy customers and good vibrations.
      </p>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey darken-1 white-text">
  <div class="row container">
    <div class="col s12 m6">

    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <br/>
      <h2 class="header">Our Team</h2>
      <p >It is not just about doing bussiness. It more about happy customers and good vibrations.
      </p>
      <br/>
    </div>
  </div>
</div>
