<div id="index-banner" class="parallax-container-sm">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <h2 class="left white-text">IT Systems Consultancy</h2>
    </div>
  </div>
  <div class="parallax"><img src="/images/es6_2.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h5 class="header">Our Consultancy Offering</h5>
      <p > The consulting provided by our IT experts covers the whole often complex life cycle of IT systems: from the choice of system via the system architecture and IT applications to consulting regarding the design and implementation of IT-supported business processes.
      </p>
      <br>
      <h6 class="header blue-text">The scope of consultancy we provide includes following issues</h5>
      <ul>
      <li>- Selection and introduction of IT systems including ERP, CRM, Marketing,Document Management and Collaboration systems</li>
      <li>- Conception, implementation and operation of IT systems for electronic invoices (e-invoicing, e-billing)</li>
      <li>- Consulting on IT security and data security</li>
      <li>- Implementation of systems and processes for safeguarding the integrity of table and index structures in ERP systems</li>
      <li>- Project-supporting consulting in the case of migration</li>
      <li>- Revision-proof conception of interface processes</li>
      <li>- Conception, development and introduction of revision-proof archiving systems and archiving processes</li>
      <li>- Consulting in relation to IT and compliance issues</li>
      </ul>
      <br/>
    </div>
  </div>
</div>
