<div id="index-banner" class="parallax-container-sm">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <h2 class="left white-text">Factoring System Automation</h2>
    </div>
  </div>
  <div class="parallax"><img src="/images/es4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h5 class="header">Factoring System Automation</h5>
      <p > Evening Sun Factoring Automation delivers end to end process automation for factoring companies.
      </p>
      <br>
      <h6 class="header blue-text">Key capabilities of Factoring System Automation</h5>
      <ul>
      <li>- User and role based authentication</li>
      <li>- Covers whole lifecycle of a factoring process</li>
      <li>- Manages Invoices, Agreements, Exporters, Importers, Investors, Insurers, Bank Accounts and Payments</li>
      <li>- Integrated document management: Scanning of documents and creation of MS Word documents</li>
      <li>- Templates for Word documents enable users to modify the wordings</li>
      <li>- Watchlists and reminders for various due dates</li>
      <li>- Automatic data controls to avoid limit excess</li>
      <li>- Reports for tracking Exporters, Importers, Payments, Investor Limits</li>
      <li>- Reports for internal profit calculations</li>
      </ul>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey darken-1 white-text">
  <div class="row container valign-wrapper">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f1.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
    <div class="col s12 m6">
      <h3 class="center header">User and Role Based Authentication</h3>
      <p class="center">Different modules of the Factoring Application can be accessed via only authorized personnel. Also every action of the users are logged for security reasons.
      </p>
    </div>
  </div>
</div>
<div class="section blue-grey darken-3 white-text">
  <div class="row container valign-wrapper">
    <div class="col s12 m6">
      <h3 class="center header">Covers whole lifecycle of a factoring process</h3>
      <p class="center">Evening Sun Factoring System manages Invoices, Agreements, Exporters, Importers, Investors, Insurers, Bank Accounts and Payments. It provides an end to end factoring automation.
      </p>
    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f2.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey lighten-2 white-text">
  <div class="row container valign-wrapper">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f3.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
    <div class="col s12 m6">
      <h3 class="center header">Integrated Document Management</h3>
      <p class="center">Our application provides creation of necessary documents automatically via templates. Also scanning of incoming documents is a functionality of our application. Once the document is scanned and saved, all the factoring application users can access the document online from every desktop.
      </p>
    </div>
  </div>
</div>
<div class="section blue-grey darken-2 white-text">
  <div class="row container valign-wrapper">
    <div class="col s12 m6">
      <h3 class="center header">Watchlists, Reminders And Limit Controls</h3>
      <p class="center">Evening Sun Factoring System tracks due dates, limit excess, and data validity to ensure a productive factoring process
      </p>
    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f4.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey lighten-1 white-text">
  <div class="row container valign-wrapper">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f5.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
    <div class="col s12 m6">
      <h3 class="center header">Extensible Reporting Capabilities</h3>
      <p class="center">Reporting is an important part of a factoring process, users can track investors, invoices, payments, due dates and various metrics in the factoring system via reporting capabilities. Also reports can be exported to MS Excel.
      </p>
    </div>
  </div>
</div>
