<div id="head_slider" class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="/images/es4.jpg" style="width:100%;">
      <div class="caption right-align">
        <h1>Factoring Automation</h1>
        <h6 class="light grey-text text-lighten-3">State-of-art factoring software solution. <a href="/main/factoring">Learn more.</a></h6>
      </div>
    </li>
    <li>
      <img src="/images/es6.jpg" style="width:100%;">
      <div class="caption left-align">
        <h1>IT Systems Consultancy</h1>
        <h6><a class="light grey-text text-lighten-3" href="/main/consultancy">See our offering...</a></h6>
      </div>
    </li>
  </ul>
</div>
