nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  padding: 0;
}

nav ul a:hover {
  background-color: #BDB1AD;
  color:white!important;
}


.section ul li {
  line-height: 2rem;
}

.parallax-container-sm {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.parallax-container-sm .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container-sm .parallax img {
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container2 {
    position: relative;
    margin: 0 auto; /* Center it */
}

.container2 .content {
    position: absolute; /* Position the background text */
    bottom: 5px; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(90, 90, 90, 0.6); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 6%; /* Some padding */
    font-size: 1.8rem;
    font-weight: 200;
}

.container2 .content2 {
    position: absolute; /* Position the background text */
    bottom: 5px; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(90, 90, 90, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 4%; /* Some padding */
    font-size: 1.8rem;
    font-weight: 200;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: red ;
}

.container2:hover .overlay {
  opacity: 0.90;
}

.bioinfo {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 10px; /* Some padding */
  font-weight: 500;
}

.bioaudio {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
